# Arduino IDE
*.hex
*.eep
*.elf
*.map

# Visual Studio Code
.vscode/

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Build files
build/
*.o
*.a

# Temporary files
*~
*.swp
*.swo
.DS_Store
Thumbs.db

# Credentials (optamos por commitar as credenciais de Wifi e MQTT para fins didáticos)
# credentials.h
# secrets.h